.header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2f3841;
}

.troley{
    position: relative;
}

.troley-img{
    width: 30px;
}

.count{
    background: #2d3c8d;
    padding: 7px;
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -7px;
    left: -12px;
}
.line{
    width: 66%;
    float: right;
    margin-right: 5%;
}